.backgroundimage{
		background-image:url("Images/BackgroundIMG.jpg");
		background-size:100% 100%; 
		}
.headerlayer{
	width:95%;
    	margin: 2 auto;
	box-shadow: 0px 9px 13px 5px;
	border-radius:25px;
	background:rgba(153,204,255,0.3);
	}
.logoimage{
		cursor:pointer;
		align:left;
		margin:20px 30px;
		height:12%;
	}
.sitenameimage
{
	cursor:pointer;
	width:30%;
	height:15%;
}
.loginpart{
	background:rgba(0,0,0,0);
	float:right;
	margin-right:6%;
	margin-top:2%;
	padding: 20px 20px 20px 20px;
	}
.buttonpart
{ 
	cursor:pointer;
	font-family:Arial;
	color:white;
	font-size:21px;
	border:0;
	border-radius:10px;
	padding: 10px 20px 10px 20px;
	background-color:#393;
}
ul
{
	margin-top:1.5%;
	padding:0;
	width:95%;
}
li
{
	
	border-radius:15px;
	width:15%;
	display:inline-block;
	background-color:#008cba;
	padding:5px;
}
li:hover
{
	background-color:rgba(0,186,139,0.6);
}
li a
{
	text-decoration: none;
	font-style:none;
	color:yellow;
	font-size:30px;
	text-align:center;
	display:block;
}











